body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

h1 {
    color: #333;
}

canvas {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    display: none; /* Só aparece após iniciar */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}
